h2 {
    font-family: Arial;
    color: black;
    font-style: oblique;


}
h3 {
    font-family: Arial;
    color: black;
    font-style: oblique;
}
p {
    font-family: Arial;
    font-size: 12px;
    color: black;
}
li {
    font-family: Arial;
    font-size: 12px;
    color: black;
}