@model Clasificados.Models.QuestionModel

<script type="text/javascript" src="~/Scripts/Q&A.js"></script>
<link type="text/css" rel="stylesheet" href="/Content/TermsConditions.css" />
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>