<connectionStrings>
  <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiPrimerMVC;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="remote" connectionString="Server=3082b83c-fe0e-4ec4-869d-a3d50012d16e.sqlserver.sequelizer.com;Database=db3082b83cfe0e4ec4869da3d50012d16e;User ID=viynlvkkcudtezjf;Password=N5segZdLRyyFRQ5KPLj7izxoF5QUFiXXnpvqV6d7ruVdA3Px2EeFTycnFeEjiqeH;"/>
</connectionStrings>