<div class="jumbotron" style="align-self: center;background-color: white;text-align: center">
    <h1 style="color: crimson">Acerca de Nosotros</h1>
</div>

<p style="text-align: center;font-size: medium">
    En nuestra pagina ustedes podran comprar o vender articulos si cumplen nuestros
    terminos y condiciones. Asi que pueden registrarse e ingresar a nuestra pagina para comenzar su vida como
    comerciantes. Espero que disfruten y logren encontrar lo que desean.
</p>
