<div class="jumbotron" style="align-self: center;background-color: white;text-align: center">
    <h1 style="color: crimson">Contactanos</h1>
</div>

<address style="text-align: center">
    Honduras<br />
    San Pedro Sula<br /><br/>
    <strong>Teléfono:</strong>31918027
</address>

<address style="text-align: center">
    <strong>Correo Electrónico:</strong>   <a href="mailto:mejia561@unitec.edu">mejia561@unitec.edu</a>
</address>