
<div class="jumbotron" style="align-self: center;background-color: white;text-align: center">
    <h1 style="color: crimson;font-family: Courier">Bienvenidos</h1>
</div>

<div>
    
</div>
<div class="row" >
    <img />
    <a href="@Url.Action("Login","Home")" class="btn col-md-1" style="margin-left: 520px;
                                                                                                                                                                                                                                   border: 1px solid black;text-align: center">Login</a>
</div>
<div class="row">
    <a href="@Url.Action("Register","Home")" class="btn col-md-1" style="margin-left: 520px;margin-top: 10px;
border: 1px solid black;text-align: center ">Registrarse</a>
</div>