@model Clasificados.Models.UserRecoverPasswordModel

<h3 style="text-align: center">Recuperar Contraseña</h3>
<div class="container">
    @Html.Partial("_Notifications")
    <form role="form" method="POST">
        <div class="form-group">
            <div class="row">
                <input type="email" class="form-control" name="Correo" id="Correo" style="margin-left: 450px" placeholder="Correo Electrónico">
            </div>

        </div>
        <button type="submit" class="btn btn-sm" style="margin-left: 435px;border: 2px solid black;width:280px;background: transparent">Recuperar Contraseña</button>
    </form>
</div>

