
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
<h2>
    Terminos y Condiciones
</h2>

<h3>
    1. Terminos
</h3>

<p>
    Al acceder a este sitio web, usted acepta que quedará vinculado por los
    Términos y condiciones del sitio de uso,por todas las leyes y regulaciones aplicables,
    y acepta que es responsable del cumplimiento de las leyes locales. 
    Si usted no está de acuerdo con cualquiera de estos términos, está prohibido
    utilizar o acceder a este sitio. Los materiales contenidos en este sitio web son
    protegido por derechos de autor y derecho de marcas.
</p>

<h3>
    2. Licencia de uso
</h3>

<ol type="a">
    <li>
        Se concede permiso para descargar temporalmente una copia de los materiales
        (información) en el sitio Web de Clasificados para uso personal,
        visión transitoria no comercial. Se trata de la concesión de una licencia,
        no una transferencia de título, y bajo esta licencia no podrá:

        <ol type="i">
            <li>intentar descompilar o realizar ingeniería inversa cualquier software contenido en el sitio web de Clasificados;</li>
            <li>eliminar cualquier derecho de autor u otros notaciones de propiedad de los materiales; o</li>
            <li>transferir el material a otra persona o "mirror" de los materiales en cualquier otro servidor.</li>
        </ol>
    </li>
    <li>
        Esta licencia terminará automáticamente si usted viola cualquiera de estas restricciones y puede ser denunciado por Clasificados
        en cualquier momento. Después de cancelar su visión de estos materiales o en la terminación de esta licencia,
         deberá destruir cualquier material descargado en su poder ya sea en formato electrónico o impreso.
    </li>
</ol>

<h3>
    3. Renuncia
</h3>

<ol type="a">
    <li>
        Los servicios en el sitio web de Clasificados se proporcionan "tal cual". Clasificados ofrece ninguna garantía, expresa o implícita,
        y por la presente renuncia y niega todas las otras garantías, incluyendo, sin limitación, las garantías implícitas o
        condiciones de comerciabilidad, adecuación a un propósito particular, o no infracción de la propiedad intelectual o de otro tipo
        violación de los derechos. Además, Clasificados no garantiza ni hace ninguna representación sobre la exactitud, los resultados probables,
        ni la fiabilidad de la utilización de los materiales en su sitio web de Internet o de otra manera en relación con los materiales o en cualquier sitio
        vinculado a este sitio.
    </li>
</ol>

<h3>
    4. Limitaciones
</h3>

<p>
    En ningún caso Clasificados o sus proveedores serán responsables de ningún daño (incluyendo, sin limitación, daños por pérdida de datos
    o beneficios, o debido a la interrupción del negocio,) que surjan del uso o la imposibilidad de usar los materiales en el sitio Internet de Clasificados,
    incluso si Clasificados o un representante autorizado Clasificados ha sido notificado en forma oral o por escrito de la posibilidad de tales
    daños. Debido a que algunas jurisdicciones no permiten limitaciones en garantías implícitas o limitaciones de responsabilidad por los consecuentes o
    daños incidentales, estas limitaciones pueden no aplicarse en su caso.
</p>

<h3>
    5. Revisiones y Errores
</h3>

<p>
    Los materiales que aparecen en el sitio web de Clasificados podrían incluir errores técnicos, tipográficos o fotográficos.
    Clasificados no garantiza que cualquiera de los materiales en su sitio web sea precisa, completa o actualizada.
    Clasificados pueden recibir cambios a los materiales contenidos en su sitio web en cualquier momento sin previo aviso. Clasificados no
      se compromete a actualizar los materiales.
</p>

<h3>
    6. Links
</h3>

<p>
    Clasificados no ha revisado todos los sitios vinculados a su página de Internet y no es responsable de los contenidos de cualquiera de
    tales sitio vinculado. La inclusión de estos vínculos no implica aprobación por parte Clasificados del sitio. El uso de cualquier
     sitio web vinculado queda al riesgo del usuario
</p>

<h3>
    7. Modificaciones en los Terminos de Uso del Sitio
</h3>

<p>
    Clasificados puede modificar estos términos de uso de su sitio web en cualquier momento sin previo aviso. Al usar este sitio web usted acepta estar
    obligado por la versión actual de estos Términos y Condiciones de Uso.
</p>

<h3>
    8. Ley Governante
</h3>

<p>
    Cualquier reclamación relacionada con el sitio Web de Clasificados se regirá por las leyes del Estado de Honduras, sin consideración a su conflicto
    de disposiciones legales.
</p>

<p>
    Terminos y Condiciones generales aplicables al uso de la página.
</p>



<h2>
    Poliza de Privacidad
</h2>

<p>
    Su privacidad es muy importante para nosotros. En consecuencia, hemos desarrollado esta Política para que usted pueda entender cómo 
    recopilamos, utilizamos, comunicamos y divulgamos y hacemos uso de la información personal. A continuación se describe nuestra política de privacidad.
</p>

<ul>
    <li>
        Antes o en el momento de la recogida de información personal, identificaremos los fines para los que se está recopilando información.
    </li>
    <li>
        Vamos a recoger y utilizar la información personal únicamente con el objetivo de cumplir con los fines especificados por nosotros y para
        otros fines compatibles, a menos que obtengamos el consentimiento de la persona en cuestión o de lo requerido por la ley.
    </li>
    <li>
        Sólo se conservarán los datos personales durante el tiempo necesario para el cumplimiento de dichos fines.
    </li>
    <li>
        Vamos a recoger información personal por medios legítimos y justos y, en su caso, con el conocimiento o consentimiento de la 
        persona en cuestión.
    </li>
    <li>
        Los datos personales deben ser pertinentes a los fines para los que se va a utilizar, y, en la medida necesaria para esos fines,
         debe ser precisa, completa y actualizada.
    </li>
    <li>
        Vamos a proteger la información personal de garantías razonables de seguridad contra pérdida o robo, así como el acceso no autorizado,
        divulgación, copia, uso o modificación.
    </li>
    <li>
        Vamos a poner a disposición de los clientes información acerca de nuestras políticas y prácticas relativas a la gestión de personal
        información.
    </li>
</ul>

<p>
    Estamos comprometidos a llevar a cabo nuestro negocio de acuerdo con estos principios con el fin de garantizar que la confidencialidad de
    información personal está protegida y mantenida.
</p>

